@viewport { width: device-width; }
body { 
  margin: 0; 
  padding: 0; 
  background: #06060E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
}
* { -webkit-tap-highlight-color: transparent; }
::-webkit-scrollbar { width: 0; height: 0; }
// Sun Aug  2 19:05:59 UTC 2026
